*.DS_Store
bower_components/*
!bower_components/phaser-ce
bower_components/phaser-ce/*
!bower_components/phaser-ce/build
bower_components/phaser-ce/build/*
!bower_components/phaser-ce/build/phaser.min.js
node_modules/*
